// Archivo de página de contacto 
// Archivo de página de contacto 
.contactarme {
   

    &__datos {
        display:flex;
        align-items: baseline;
        gap:10px;

    
    }
       
}

.contactarme {
    color: white;
}

/* 
.contactarme i {
    color: $principal;
} */